

@font-face {
  font-family: "Quicksand";
  src: local("Quicksand-Medium");
  src: url('./font/Quicksand-Medium.ttf') format("truetype");
}

@font-face {
  font-family: "Quicksand-bold";
  src: local("Quicksand-Bold");
  src: url('./font/Quicksand-Bold.ttf') format("truetype");
}

@font-face {
  font-family: "Quicksand-light";
  src: local("Quicksand-Light");
  src: url('./font/Quicksand-Light.ttf') format("truetype");
}

h1 {
  margin-top: 1em;
  margin-bottom: 0;
  font-family: 'Quicksand-bold';
  font-size: 40px
}

.Night h1 {
  margin-top: 1em;
  margin-bottom: 0;
  font-family: 'Quicksand-bold';
  font-size: 40px;
  color: white;
}

h2 {
  font-size: 30px;
  font-family: 'Quicksand-bold';
  color:#252525;
  margin:0px;
}

.Night h2 {
  font-size: 30px;
  font-family: 'Quicksand-bold';
  color: white;
  margin:0px;
}

h3 {
  font-family: 'Quicksand-bold';
  font-size: 24px;
  margin-top: 2em !important;
}

.Day h4 {
  font-size:16px;
  font-family: 'Quicksand-bold';
  color: black;
  margin-top:1em;
}

.Night h4 {
  font-size:16px;
  font-family: 'Quicksand-bold';
  color: white;
  margin-top:1em;
}

h5 {
  font-size:22px;
  font-family: 'Quicksand-light';
}

.Night h5 {
  font-size:22px;
  font-family: 'Quicksand-light';
  color: white;
}
h5 {
  font-size:22px;
  font-family: 'Quicksand-light';
}

p {
  font-size:20px;
  font-family: 'Quicksand-light';
}

.Night p {
  font-size:20px;
  font-family: 'Quicksand-light';
  color: white
}



ul {
  list-style-type: none;
  font-weight: 200;
}

.body {
  font-family: 'Quicksand';
}

li a {
    font-size: 20px;
    font-family: 'Quicksand';
    text-decoration: none;
    color: rgb(71, 71, 71);
    font-family: 'Quicksand';
}

.Night li a {
    font-size: 20px;
    font-family: 'Quicksand';
    text-decoration: none;
    color: white;
    font-family: 'Quicksand';
}

li a:hover {
  text-decoration: line-through !important; 
  color:black !important; 
}

.Night{
  background-color: rgb(56, 56, 56);
  color:rgb(223, 223, 223)!important; 
  font-family: Arial, Helvetica, sans-serif;

}

.Night h1{
  color:rgb(223, 223, 223)!important; 
}

.Day{
  background-color: white;
  color:rgb(56, 56, 56)
}

body{
  font-family: 'Quicksand';
}


.git{
  height: 40px;
}

.About {
  background-color: transparent;
  color:grey;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.Works {
  margin-top: 2em;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.Bloc {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}




/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
  #primary { width:67%; }
  #secondary { width:30%; margin-left:3%;}  
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
  #primary { width:100%; }
  #secondary { width:100%; margin:0; border:none; }

}

@media (min-device-width:600px) {
  img[data-src-600px] {
      content: attr(data-src-600px, url);
  }
}

@media (min-device-width:800px) {
  img[data-src-800px] {
      content: attr(data-src-800px, url);
  }
}

@media (min-width: 640px) { body {font-size:2rem;} } 
@media (min-width:960px) { body {font-size:2rem;} } 
@media (min-width:1100px) { body {font-size:1.5rem;} } 
